.turn-on-yellow{
    box-shadow: 10px 10px 56px 49px rgba(250,255,59,0.75);
    -webkit-box-shadow: 10px 10px 56px 49px rgba(250,255,59,0.75);
    -moz-box-shadow: 10px 10px 56px 49px rgba(250,255,59,0.75);
}

.turn-on-green{
    box-shadow: 10px 10px 56px 49px rgba(0,255,20,0.75);
-webkit-box-shadow: 10px 10px 56px 49px rgba(0,255,20,0.75);
-moz-box-shadow: 10px 10px 56px 49px rgba(0,255,20,0.75);
}
.turn-on-red{
    box-shadow: 10px 10px 56px 49px rgba(255,0,0,0.75);
    -webkit-box-shadow: 10px 10px 56px 49px rgba(255,0,0,0.75);
    -moz-box-shadow: 10px 10px 56px 49px rgba(255,0,0,0.75);
}

